@model StockTrade


<!DOCTYPE html>
<html>
<body>
    <main>
        <form method="get">
            <div class="company-info">
                <div class="company-name">@Model.StockName</div>
                <div class="stock-symbol">@Model.StockSymbol</div>
                <div class="stock-price">$@Model.Price</div>
            </div>
            <input type="hidden" id="StockSymbol" value="@Model.StockSymbol" />
            <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />
        </form>


        <form class="form-field" action="/buyorder" method="post">
            <div class="new-order">
                <h2>New Order</h2>
                <form>
                    <label for="quantity-input">Quantity:</label>
                    <input type="number" id="quantity-input" name="quantity" value="@Model.Quantity">
                    <button type="submit" class="buy-button">Buy</button>
                    <button formaction="/sellorder" type="submit" class="sell-button">Sell</button>
                    <input type="hidden" name="StockSymbol" value="@Model.StockSymbol" />
                    <input type="hidden" name="StockName" value="@Model.StockName" />
                    <input id="updated" class="stock-price" type="hidden" name="Price" value="@Model.Price" />
                </form>
            </div>

        </form>

    </main>





@*    <div class="box">
        <form method="get">
            <div class="stock-box">
                <div class="stock-price" id="stock-price">
                    @Model.Price
                </div>
                <div class="stock-name">
                </div>
                <div class="stock-symbol">
                    @Model.StockSymbol
                </div>
            </div>
            <input type="hidden" id="StockSymbol" value="@Model.StockSymbol" />
            <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />
        </form>

        <form class="form-field" action="/buyorder" method="post">
            <h3 class="text-grey">New Order</h3>
            <label for="quantity-input" class="quantity-label">Quantity:</label>
            <input type="number" id="quantity-input" name="Quantity" value="@Model.Quantity">
            <button type="submit" class="buy-button">Buy</button>
            <button formaction="/sellorder" type="submit" class="sell-button">Sell</button>

            <input type="hidden" name="StockSymbol" value="@Model.StockSymbol" />
            <input type="hidden" name="StockName" value="@Model.StockName" />
            <input id="updated" class="stock-price" type="hidden" name="Price" value="@Model.Price" />
        </form>

    </div>

*@    <div>
        @if (ViewBag.Errors != null)
        {
            @foreach (string error in ViewBag.Errors)
            {
                <p>@error</p>
            }
        }
    </div>

    <script src="~/Scripts/FinnHub.js"></script>

</body>


</html>